<p id="notice"><%= notice %></p>

<h1>Givngs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Theme</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @givngs.each do |givng| %>
      <tr>
        <td><%= givng.name %></td>
        <td><%= givng.theme %></td>
        <td><%= givng.user_id %></td>
        <td><%= link_to 'Show', givng %></td>
        <td><%= link_to 'Edit', edit_givng_path(givng) %></td>
        <td><%= link_to 'Destroy', givng, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Givng', new_givng_path %>
